<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidui">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidUI"
        android:usesCleartextTraffic="true">

        <activity android:name=".Test.TestActivity"/>
        <activity android:name=".EditProfile.EditProfile"
            android:label=""
            android:theme="@style/AppTheme.FullScreen"></activity>
        <activity
            android:name=".CreatePost.CreatePosts"
            android:label=""
            android:theme="@style/AppTheme.FullScreen"/>
        <activity
            android:name=".Register.Register"
            android:label=""
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".Login.Login"
            android:theme="@style/AppTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity.MainActivity"
            android:label=""
            android:theme="@style/AppTheme.FullScreen" />/>
    </application>

</manifest>